<h2>Add Task Page</h2>

<div class="container">

<h3><i> Create Blog</i></h3>
<div [hidden]="submitted">
 
<form class="emp-form" (ngSubmit)="onSubmit()" [formGroup]="blogForm">
  <div class="form-group">
      <label class="center-block">Title:    
      <input type="text" class="form-control" id="title" required minlength="4"
          formControlName="title">        
    </label>
  </div>
  
       
  <div *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger">

  <div *ngIf="title.errors.required">
    Title is required.
  </div>
  <div *ngIf="title.errors.minlength">
    Title must be at least 4 characters long.
  </div>
  
</div>

  <div class="form-group">
    <label class="center-block">Description:     
       <input type="text" class="form-control" id="description" required
         formControlName="description">
    </label>
  </div>
  
   <div *ngIf="description.invalid && (description.dirty || description.touched)"
    class="alert alert-danger">

  <div *ngIf="description.errors.required">
    Description is required.
  </div>
</div>

   <div class="form-group">
    <label class="center-block">Date:     
      <input type="date" class="form-control" id="blogDate" required formControlName="blogDate"
         >
    </label>
  </div>
  
  <div class="form-row">
 	<button type="submit" [disabled]="!taskForm.valid" class="btn btn-success">save</button>   	
 	<button class="btn btn-primary"  routerLink="/task">Back</button>   
  </div>
    
</form> 
</div>

<div [hidden]="!submitted">
    <h4>task Created successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>      
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>
</div>


















<div class="container">



<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>


</div>

