
<div class="container">

<div class="row">
 	<button routerLink="/task/addtask" class="btn btn-success">Add Task</button>
   </div>
   
<table class="table table-sm table-hover">
             <thead>
             <tr class="tabHead">
                 <th>Title</th>
                 <th>US</th>
                 <th>Description</th>
                 <th>Created By</th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let post of _postsArray" class='datatableodd'>                 
                 <td>{{post.title}}</td>
                 <td>{{post.userStory}}</td>
                 <td>{{post.description}}</td>
                 <td>{{post.createdBy}}</td>
             </tr>
             </tbody>
</table>

      </div>
      