<div class="container">

<h3><i> Create User</i></h3>
<div [hidden]="submitted">
 
<form class="emp-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label class="center-block">First Name:    
      <input type="text" class="form-control" id="firstname" required
        [(ngModel)]="user.firstName" name="firstname">        
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Last Name:
     <input type="text" class="form-control" id="lastname" required
        [(ngModel)]="user.lastName" name="lastname">
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Email:     
       <input type="text" class="form-control" id="email" required
        [(ngModel)]="user.email" name="email">
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Mobile No:
     <!--  <select class="form-control" formControlName="state">
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select> -->
      <input type="text" class="form-control" id="mobileNo" required
        [(ngModel)]="user.mobileNo" name="mobileNo">        
    </label>
  </div>
 
  <div class="form-group">
    <label class="center-block">Password:     
       <input type="text" class="form-control" id="password" required
        [(ngModel)]="user.password" name="password">
    </label>
  </div>
  
  <div class="form-row">
 	<button type="submit" class="btn btn-success">save</button>   	
 	<button class="btn btn-primary"  routerLink="/user">Back</button>   
  </div>
    
</form> 
</div>

<div [hidden]="!submitted">
    <h4>User Created successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>      
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>
</div>
