 <div class="container">
  <div class="row">
 	<button routerLink="/landing/adduser" class="btn btn-success">Add User</button>
   </div>
     <div class="row">
         <table class="table table-sm table-hover">
             <thead class="thead-inverse">
             <tr>
                 <th class="text-center">First Name</th>
                 <th class="text-center">Last Name</th>
                 <th class="text-center">Email</th>
                 <th class="text-center"></th>
                 <th class="text-center"></th>	
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let post of _postsArray">
                 <td class="text-center" style="width: 100px;"> {{post.firstName}}</td>
                 <td class="text-center" style="width: 200px;">{{post.lastName}}</td>
                 <td class="text-center">{{post.email}}</td>
                 <td class="text-center" style="width: 15px;">
                 	<a [routerLink]="['/landing/userdetail', post._id]"  class="btn"> Edit </a></td>
                 <td class="text-center" style="width: 15px;">
                 	 <a [routerLink]="['/landing/deleteuser', post._id]"  class="btn"> Delete	</a>
                 </td>
             </tr>
             </tbody>
         </table>
     </div>
 </div>