 <div class="container">
     <div class="row">
         <table class="table">
             <thead class="thead-inverse">
             <tr>
                 <th class="text-center">First Name</th>
                 <th class="text-center">Last Name</th>
                 <th class="text-center">Email</th>
                 <th class="text-center">Action</th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let post of _postsArray">
                 <td class="text-center" style="width: 100px;"> {{post.firstName}}</td>
                 <td class="text-center" style="width: 200px;">{{post.lastName}}</td>
                 <td class="text-center">{{post.email}}</td>
                  <td class="text-center" style="width: 15px;"><a [routerLink]="['/userdetail', post._id]"  class="col-1-4"> Edit </a></td>
             </tr>
             </tbody>
         </table>
     </div>
 </div>