<h2>Add Task Page</h2>

<div class="container">

<h3><i> Create task</i></h3>
<div [hidden]="submitted">
 
<form class="emp-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label class="center-block">Title:    
      <input type="text" class="form-control" id="title" required
        [(ngModel)]="task.title" name="title">        
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">User Story:
     <input type="text" class="form-control" id="userStory" required
        [(ngModel)]="task.userStory" name="userStory">
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Description:     
       <input type="text" class="form-control" id="description" required
        [(ngModel)]="task.description" name="description">
    </label>
  </div>
  
   <div class="form-group">
    <label class="center-block">Date:     
       <input type="date" class="form-control" id="taskDate" required
        [(ngModel)]="task.taskDate" name="description">
    </label>
  </div>
  
  <div class="form-row">
 	<button type="submit" class="btn btn-success">save</button>   	
 	<button class="btn btn-primary"  routerLink="/task">Back</button>   
  </div>
    
</form> 
</div>

<div [hidden]="!submitted">
    <h4>task Created successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>      
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>
</div>
