
<div class="container">

<div class="row">
 	<button routerLink="/newtask" class="btn btn-success">Add Account</button>
</div>
   
<table class="table table-sm table-hover">
             <thead>
             <tr class="tabHead">
                 <th>Title</th>
                 <th>US</th>
                 <th>Description</th>
                 <th>Task Date</th>
                 <th class="text-center"></th>
                 <th class="text-center"></th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let post of _postsArray" class='datatableodd'>                 
                 <td>{{post.title}}</td>
                 <td>{{post.userStory}}</td>
                 <td>{{post.description}}</td>
                 <td>{{post.taskDate | date}}</td>
                 <td class="text-center" style="width: 15px;">
                 	<a [routerLink]="['/gettask', post._id]"  class="btn"> Edit </a></td>
                 <td class="text-center" style="width: 15px;">
                 	 <a [routerLink]="['/deletetask', post._id]"  class="btn"> Delete	</a>
                 </td>
             </tr>
             </tbody>
</table>

      </div>
      