
<div class="container">

<div class="row">
 	<button routerLink="/landing/addaccount" class="btn btn-success">Add Account</button>
</div>
   
<table class="table table-sm table-hover">
             <thead>
             <tr class="tabHead">
                 <th>Date</th>
                 <th>Account Type</th>
                 <th>category Name</th>
                 <th>Description</th>
                 <th>Amount</th>
                 <th class="text-center"></th>
                 <th class="text-center"></th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let post of _postsArray" class='datatableodd'>  
               	<td>{{post.date | date}}</td>               
                 <td>{{post.accountType}}</td>
                 <td>{{post.categoryName}}</td>
                  <td>{{post.description}}</td>
                 <td>{{post.amount}}</td>
                 <td class="text-center" style="width: 15px;">
                 	<a [routerLink]="['/landing/getaccount', post._id]"  class="btn"> Edit </a></td>
                 <td class="text-center" style="width: 15px;">
                 	 <a [routerLink]="['/deleteaccount', post._id]"  class="btn"> Delete	</a>
                 </td>
             </tr>
            
             <tr>
             	<td></td>
             	<td></td>
             	<td></td>
             	<td>Income</td>
             	<td>{{acctotal.credit}}</td>
             	<td></td>
             	<td></td>
             </tr>
             
             <tr>
             	<td></td>
             	<td></td>
             	<td></td>
             	<td>Expenses</td>
             	<td>{{acctotal.debit}}</td>
             	<td></td>
             	<td></td>
             </tr>
             
             <tr>
             	<td></td>
             	<td></td>
             	<td></td>
             	<td>Balance</td>
             	<td>{{acctotal.balance}}</td>
             	<td></td>
             	<td></td>
             </tr>
             
           
              
             </tbody>
</table>

      </div>
      