<h3><i>Edit Task</i></h3>

 <div class="container">
<div [hidden]="submitted">
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label class="center-block">First Name:    
      <input type="text" class="form-control" id="firstname" required
        [(ngModel)]="user.firstName" name="firstname">        
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Last Name:
     <input type="text" class="form-control" id="lastname" required
        [(ngModel)]="user.lastName" name="lastname">
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Email:     
       <input type="text" class="form-control" id="email" required
        [(ngModel)]="user.email" name="email">
    </label>
  </div>
  
  <div class="form-group">
    <label class="center-block">Mobile No:  
      <input type="text" class="form-control" id="mobileNo" required
        [(ngModel)]="user.mobileNo" name="mobileNo">        
    </label>
  </div>
    
  <div class="form-row">
 	<button type="submit" class="btn btn-success">save</button>
     <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
    
</form>


</div>

<div [hidden]="!submitted">
    <h4>Update successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>

</div>
